<script>
  $(function() {
    $('li').click(function(){
        if($(this).hasClass("active")) {
          alert(1);
        } else {
          alert(2);
        }
    });
  });
  
</script>
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src = "home/logo.png" class = "img-circle img-fluid logo-xs">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href = "#">기고칼럼</a></li>
        <li><a href = "#">히스토리컬</a></li>
        <li><a href = "#">신간도서</a></li>
      </ul>
    </div>
    
  </div>
</nav>


<div class="container-fluid">
  <div class="row content">
    
    <div class="col-sm-2 sidenav hidden-xs navbar">
      <img src = "home/logo.png" class = "img-circle img-fluid logo-md img-responsive">
      <ul class="nav nav-pills nav-stacked">
        <li class = "active"id = "column"><a href = "#">기고칼럼</a></li>
        <li id = "historical"><a href = "#">히스토리컬</a></li>
        <li id = "newBook"><a href = "#">신간도서</a></li>
        <li id = "contact"><a href = "#">contact us</a></li>
        <li id = "about"><a href = "#">about us</a></li>
      </ul><br>
    </div>

    <article class="col-sm-10">
        <div class = "row mb-5" >
          <section class = "col-sm-4">
            <img src = "home/his.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
               </p>
               <p class = "writer">by 구자룡</p>
          </section>

          <section class = "col-sm-4">
            <img src = "home/his.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학자이자한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.</p>
              <p class = "writer">by 이동해</p>
          </section>

          <section class = "col-sm-4">
            <img src = "home/his.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학자이자 단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.</p>
              <p class = "writer">by 이성준</p>
          </section>
      </div>

        <div class = "row mb-5">
          <section class = "col-sm-4">
            <img src = "home/his.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학자이자 정단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
               </p>
               <p class = "writer">by 구자룡</p>
          </section>

          <section class = "col-sm-4">
            <img src = "home/his.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학자이브리지 대학교의 트리니티 칼리지를 졸업하였다. 1차대전 시기부터 전간기 말까지 영국 외무부에서 외교관으로 근무했으며, 1936년 사임한 후 학자의 길을 걸었다. 그의 이름을 떨친 저작은 역사철학에 관한 서적인 "역사란 무엇인가"와 현실주의 국제정치학의 명저 "20년의 위기"이지만, 정작 그가 평생을 바친 연구대상은 역사철학이나 국제정치학이 아니라 소련사였다. 카는 소련사 분야에서도 걸출한 연구자였으나 소련편향적으로 역사를 서술한다고 비판도 많이 받았는데[1], 덕분에 군사독재 시절 한국에선 "역사란 무엇인가"를 비롯한 그의 저작이 불온서적 취급을 받기도 했다.
                카는 "역사란 무엇인가"에서 '역사란 단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.</p>
                <p class = "writer">by 이동해</p>
          </section>

          <section class = "col-sm-4">
            <img src = "home/his.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학자'역사란 단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.</p>
                <p class = "writer">by 이성준</p>
          </section>
      </div>

        <div class = "row mb-5">
          <section class = "col-sm-4">
            <img src = "home/his.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학'역사란 단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
               </p>
                <p class = "writer">by 구자룡</p>
          </section>

          <section class = "col-sm-4">
            <img src = "home/his.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학'역사란 단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.</p>
                <p class = "writer">by 이동해</p>
          </section>

          <section class = "col-sm-4">
            <img src = "home/his.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학자이자 정치학자. 한국에서는 'E. H. 카'라는 이름으로 더 많이 불린다.
                1892년 영국에서 태어나 케임브리지 대학교의 트리니티 칼리지를 졸업하였다. 1차대전 시기부터 전간기 말까지 영국 외무부에서 외교관으로 근무했으며, 1936년 사임한 후 학자의 길을 걸었다. 그의 이름을 떨친 저작은 역사철학에 관한 서적인 "역사란 무엇인가"와 현실주의 국제정치학의 명저 "20년의 위기"이지만, 정작 그가 평생을 바친 연구대상은 역사철학이나 국제정치학이 아니라 소련사였다. 카는 소련사 분야에서도 걸출한 연구자였으나 소련편향적으로 역사를 서술한다고 비판도 많이 받았는데[1], 덕분에 군사독재 시절 한국에선 "역사란 무엇인가"를 비롯한 그의 저작이 불온서적 취급을 받기도 했다.
                카는 "역사란 무엇인가"에서 '역사란 단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.</p>
                <p class = "writer">by 이성준</p>
          </section>
      </div>      
  </article>
  
  </div>
</div>
<footer class="container-fluid">
  <p>Footer Text</p>
</footer>