<script>
  $(function() {
    $('li').click(function(){
        if($(this).hasClass("active")) {

        } else {

        }
    });
  });
</script>


<!--내용들 -->
<div class="container-fluid">
   <article>
      <div class = "row mb-6" >
        <div class = "col-sm-4 mb-section">
          <section>
            <img src = "home/his.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              
               </p>
               <p class = "writer">by 구자룡</p>
          </section>
        </div>
        <div class="col-sm-4 mb-section">
          <section>
            <img src = "home/his2.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학자이자한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.</p>
              <p class = "writer">by 이동해</p>
          </section>
        </div>
        <div class="col-sm-4 mb-section">
          <section>
            <img src = "home/his3.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학자이자 단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.</p>
              <p class = "writer">by 이성준</p>
          </section>
        </div>
    </div>
  </article>
  
   <article>
      <div class = "row mb-5" >
        <div class = "col-sm-4 mb-section">
          <section>
            <img src = "home/his4.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
               </p>
               <p class = "writer">by 구자룡</p>
          </section>
        </div>
        <div class="col-sm-4 mb-section">
          <section>
            <img src = "home/his5.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학자이자한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.</p>
              <p class = "writer">by 이동해</p>
          </section>
        </div>
        <div class = "col-sm-4 mb-section">
          <section>
            <img src = "home/his6.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학자이자 단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.</p>
              <p class = "writer">by 이성준</p>
          </section>
        </div>
    </div>
  </article>
  
     <article>
      <div class = "row mb-5" >
        <div class = "col-sm-4 mb-section">
          <section>
            <img src = "home/his7.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              영국의 외교관,  단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.
              
               </p>
               <p class = "writer">by 구자룡</p>
          </section>
        </div>
        <div class = "col-sm-4 mb-section">
          <section>
            <img src = "home/his8.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학자이자한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.</p>
              <p class = "writer">by 이동해</p>
          </section>
        </div>
        <div class = "col-sm-4 mb-section">
          <section>
            <img src = "home/his9.png" class="img-rounded img-responsive">
              <h2>역사란 무엇인가?</h2><br>
              <p>영국의 외교관, 역사학자이자 단순한 사실의 나열이 아니다'라는 문제의식을 제시하며 다음과 같이 주장했다.</p>
              <p class = "writer">by 이성준</p>
          </section>
        </div>
    </div>
  </article>
  
</div>
<!--내용들 끝-->