<div class = "container-fluid ">
    <acticle class = "col-sm-10">
        <div class = "instantContainer">
            <section>
                <section class = "topHeader">
                    <h2>역사란 무엇인가?</h2>
                    <div class = "profile">
                        <p><img src = "/show/war1.png"><b class = "name">이동해</b><b class = "date">2018.08.01</b></p>
                        <div class = "line"></div>
                    </div>
                </section>
                
                <div class = "mainContent">
                    <div class = "imgContainer">
                        <div class = "skewedTape"><div class="tagTape">Historical</div></div>
                        <img src = "/show/war2.png">
                    </div>
                    <h3>만천하의 대중을</h3>
                    <p>인류의 역사를 꾸며 내려온 동력은 바로 이것이다 이성은 투명하되 얼음과 같으며 지혜는 날카로우나 갑 속에 든 칼이다 
                    청춘의 끓는 피가 아니더면 인간이 얼마나 쓸쓸하랴?<br>
                    인류의 역사를 꾸며 내려온 동력은 바로 이것이다 이성은 투명하되 얼음과 같으며 지혜는 날카로우나 갑 속에 든 칼이다 
                    청춘의 끓는 피가 아니더면 인간이 얼마나 쓸쓸하랴?<br>
                    인류의 역사를 꾸며 내려온 동력은 바로 이것이다 이성은 투명하되 얼음과 같으며 지혜는 날카로우나 갑 속에 든 칼이다 
                    청춘의 끓는 피가 아니더면 인간이 얼마나 쓸쓸하랴?<br>
                    인류의 역사를 꾸며 내려온 동력은 바로 이것이다 이성은 투명하되 얼음과 같으며 지혜는 날카로우나 갑 속에 든 칼이다 
                    청춘의 끓는 피가 아니더면 인간이 얼마나 쓸쓸하랴?<br>
                    인류의 역사를 꾸며 내려온 동력은 바로 이것이다 이성은 투명하되 얼음과 같으며 지혜는 날카로우나 갑 속에 든 칼이다 
                    청춘의 끓는 피가 아니더면 인간이 얼마나 쓸쓸하랴?<br>인류의 역사를 꾸며 내려온 동력은 바로 이것이다 이성은 투명하되 얼음과 같으며 지혜는 날카로우나 갑 속에 든 칼이다 
                    청춘의 끓는 피가 아니더면 인간이 얼마나 쓸쓸하랴?<br>인류의 역사를 꾸며 내려온 동력은 바로 이것이다 이성은 투명하되 얼음과 같으며 지혜는 날카로우나 갑 속에 든 칼이다 
                    청춘의 끓는 피가 아니더면 인간이 얼마나 쓸쓸하랴?<br>인류의 역사를 꾸며 내려온 동력은 바로 이것이다 이성은 투명하되 얼음과 같으며 지혜는 날카로우나 갑 속에 든 칼이다 
                    청춘의 끓는 피가 아니더면 인간이 얼마나 쓸쓸하랴?<br>인류의 역사를 꾸며 내려온 동력은 바로 이것이다 이성은 투명하되 얼음과 같으며 지혜는 날카로우나 갑 속에 든 칼이다 
                    청춘의 끓는 피가 아니더면 인간이 얼마나 쓸쓸하랴?<br>인류의 역사를 꾸며 내려온 동력은 바로 이것이다 이성은 투명하되 얼음과 같으며 지혜는 날카로우나 갑 속에 든 칼이다 
                    청춘의 끓는 피가 아니더면 인간이 얼마나 쓸쓸하랴?<br>인류의 역사를 꾸며 내려온 동력은 바로 이것이다 이성은 투명하되 얼음과 같으며 지혜는 날카로우나 갑 속에 든 칼이다 
                    청춘의 끓는 피가 아니더면 인간이 얼마나 쓸쓸하랴?<br>인류의 역사를 꾸며 내려온 동력은 바로 이것이다 이성은 투명하되 얼음과 같으며 지혜는 날카로우나 갑 속에 든 칼이다 
                    청춘의 끓는 피가 아니더면 인간이 얼마나 쓸쓸하랴?<br></p>
                </div>
            </section>
        </div>
    </acticle>
    
    <acticle class = "col-sm-2 hidden-xs">
        <section class = "sideContent">
            <img class = "sideImg" src = "/show/war1.png">
            <h3>브라질 너트는 어디서 왔나</h3>
            <p>그들은 이상의 보배를 능히 품으며 그들의 이상은 아름답고 소담스러운 열매를 맺어 우리</p>
        </section>
        
        <section class = "sideContent">
            <img class = "sideImg" src = "/show/war2.png">
            <h3>임진왜란, 그 시작은</h3>
            <p>그들은 이상의 보배를 능히 품으며 그들의 이상은 아름답고 소담스러운 열매를 맺어 우리</p>
        </section>
    </acticle>
</div>