<acticle class = "col-sm-10">
    <section>
        <section class = "topHeader">
            <h2>역사란 무엇인가?</h2>
            <div class = "profile">
                <p><img src = "/show/war1.png"><b class = "name">이동해</b><b class = "date">2018.08.01</b></p>
                <div class = "line"></div>
            </div>
        </section>
        
        <div class = "mainContent">
            <img src = "/show/war2.png">
            
            <p>dfgsdfnvmzf;lzdlkbjzdnfbzdbzdf
            bzdfbdbzdfbzdfbzdf
            bzdbzdfbzfdbjzxnbkcxjbkxcvnbxd'bdzbnzdxbzx<br>
            dfgkdfzjbnkzjbnzbkj<br>
            dzfbkjzdnfkbjzdnbkjznb<br></p>
            
            
        </div>
    </section>
</acticle>

<acticle class = "col-sm-2 hidden-xs">
    <section class = "sideContent">
        <img class = "sideImg" src = "/show/war1.png">
        <h3>브라질 너트는 어디서 왔나</h3>
        <p>그들은 이상의 보배를 능히 품으며 그들의 이상은 아름답고 소담스러운 열매를 맺어 우리</p>
    </section>
    
    <section class = "sideContent">
        <img class = "sideImg" src = "/show/war2.png">
        <h3>임진왜란, 그 시작은</h3>
        <p>그들은 이상의 보배를 능히 품으며 그들의 이상은 아름답고 소담스러운 열매를 맺어 우리</p>
    </section>
    
</acticle>