// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//로그인 및 회원가입
//로그인 파일 경로      : view/passwords/sessions/new
//회원가입 파일경로     : view/passwords/registrations/new 
.login-form , .reg-form {
    padding : 15px 20px;
    border: 1px solid;
    border-radius: 5px;
    border-color:#EEEFF1;
    width:300px;
    margin:auto;
    background-color: #EEEFF1;
}

#user_email , #user_password , #user_password_confirmation{
    padding:10px;
    width:260px;
    margin-top:10px;
    border-radius: 5px;
    font-size: 14px;
}

.submit-btn>input {
    border-radius: 5px;
    width:260px;
    margin-top:10px;
    font-size: 14px;
    background-color:black;
    padding:10px;
    color:#FFFFFF;
}

.submit-btn>input:hover {
    border-radius: 5px;
    width:260px;
    margin-top:10px;
    font-size: 14px;
    background-color: gray;
    padding:10px;
    color:#FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}
//로그인 , 밑 회원가입 끝


.topHeader {
     margin-top : 10px;
     margin-left : 100px;
     margin-right: 100px;
     margin-bottom : 10px;
     
     .date {
         margin-top : 30px;
     }
     .name {
         margin-left : 15px;
     }
}


h2 {
  font-size : 45px;
  font-weight : bold;
  text-align:center;
}

.sideContent h3 {
    font-weight:bolde;
    font-size: 1.5rem;
}
.sideContent p{
    font-size: 1.3rem;
    padding:0px;
}

.sideContent .sideImg {
    width : 200px;
    height : 150px;
}

.profile img {
    width:60px;
    height:60px;
    border-radius: 50% !important;
}
.profile .name{
    font-size: 1.5rem;
}

.profile {
    height : 100px;
    vertical-align:middle;
}

.profile .date { 
    vertical-align : middle;
    float:right;
    font-size:1.5rem;
    height:70px;
}

.line {
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
}

.mainContent {
    width:100%;
}

.mainContent img {
    width: 500px;
    height : 400px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

section .mainContent p {
    font-size : 2rem;
}