// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//좌측 섹션 전체를 감싸는 CSS

.container-fluid .instantContainer {
    padding : 0px 80px;
    height: 100%;
    margin-top : 5px;
    border-radius : 15px;
    //box-shadow: 0 0 1px rgba(#222, .5);
    border : 5px solid #333;
    border-left: none;
    border-right : none;
    overflow : auto;
    
    .profile  {
        height : 100px;
        vertical-align:middle;
        
        img{
            width:60px;
            height:60px;
            border-radius: 50% !important;
        }
        .name{
            font-size: 1.5rem;
        }
        .date { 
            vertical-align : middle;
            float:right;
            font-size:1.5rem;
            height:70px;
        }
    }
    
    .line {
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid black;
        animation-name : emerge;
        animation-timing-function : ease-in-out;
        animation-fill-mode : forwards;
        animation-duration : 1s;
        @keyframes emerge {
            0% {
                transform : scaleX(0);
            }
            100% {
                transform : scaleX(1);
            }
        }
    }
    
    .mainContent {
        width:100%;
        .imgContainer {
            width: 500px;
            height : 400px;
            display:block;
            margin: 0 auto;
            border-radius : 15px;
            
        .skewedTape {
            color : white;
            position: absolute;
            margin-top: 15px;
            margin-left : 10px;
            height: auto;
            text-align : center;
            width : 130px;
            background-color : red;
            padding : 2px;
            border: 2px solid red;
            border-radius : 5px;
            transform : rotate(135deg);
                .tagTape {
                    width : inherit;
                    height : inherit;
                    transform : rotate(178deg);
                }
            }
            
        img {
                width: inherit;
                height: inherit;
                border-radius: inherit;
            // width: 500px;
            // height : 400px;
            // display:block;
            // margin-left:auto;
            // margin-right:auto;
            // border-radius : 15px;
            }
        }
        .mainContent p {
            font-size : 2rem;
        }
    }
}

.mcon .container-fluid .instantContainer {
    
    
}

.topHeader {
     .date {
         margin-top : 30px;
     }
     .name {
         margin-left : 15px;
     }
     
     h2 {
          font-size : 40px;
          font-weight : bold;
          text-align: center;
    }
}
//로그인 및 회원가입
//로그인 파일 경로      : view/passwords/sessions/new
//회원가입 파일경로     : view/passwords/registrations/new 
.login-form , .reg-form {
    padding : 15px 20px;
    border: 1px solid;
    border-radius: 5px;
    border-color:#EEEFF1;
    width:300px;
    margin:10px auto;
    background-color: #EEEFF1;
}

#user_email , #user_password , #user_password_confirmation{
    padding:10px;
    width:260px;
    margin-top:10px;
    border-radius: 5px;
    font-size: 14px;
}

.submit-btn>input {
    border-radius: 5px;
    width:260px;
    margin-top:10px;
    font-size: 14px;
    background-color:black;
    padding:10px;
    color:#FFFFFF;
    
    &:hover {
        border-radius: 5px;
        width:260px;
        margin-top:10px;
        font-size: 14px;
        background-color: gray;
        padding:10px;
        color:#FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    }
}
//로그인 , 밑 회원가입 끝

.sideContent {
    h3 {
        font-weight:bolde;
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1.3rem;
        padding:0px;
    }
    
    .sideImg {
        width : 200px;
        height : 150px;
    }
}
