<div class = "infoAbout hidden-xs">
    <img src = "logo.png">
    <h2>안녕하세요! </h2>
    <p>
    길지 아니한 목숨을 사는가 싶이 살았으며 
    그들의 그림자는 천고에 사라지지 않는 것이다 이것은 현저하게 일월과 같은 
    예가 되려니와 그와 같지 못하다 할지라도 창공에 반짝이는 뭇 별과 같이 산야에 피어나는 
    군영과 같이 이상은
    </p>
</div>

<div class = "minfo visible-xs">
    <img src = "logo.png">
    <h2>안녕하세요! </h2>
    <p>
    길지 아니한 목숨을 사는가 싶이 살았으며 
    그들의 그림자는 천고에 사라지지 않는 것이다 이것은 현저하게 일월과 같은 
    예가 되려니와 그와 같지 못하다 할지라도 창공에 반짝이는 뭇 별과 같이 산야에 피어나는 
    군영과 같이 이상은
    </p>
</div>