<div class = "infoContact hidden-xs">
    <img src = "logo.png">
    <h2>마케팅 제휴</h2>
    <p>역사 관련 출판, 강연 등 홈페이지 내 노출 제안</p>
    <p>Historical과 함께 할 공동 이벤트 ＆ 프로모션 제안</p>
    <br><br>
    <h2>사업 제안</h2>
    <p>Historical과 함께 성장할 수 있는 사업 제안</p>
    <br><br>
    <p>아래 메일주소로 메일주시면 답변드리겠습니다</p>
    <p>historical@hufs.ac.kr</p>
</div>

<div class = "minfo visible-xs">
    <img src = "logo.png">
    <h2>마케팅 제휴</h2>
    <p>역사 관련 출판, 강연 등 홈페이지 내 노출 제안</p>
    <p>Historical과 함께 할 공동 이벤트 ＆ 프로모션 제안</p>
    <br><br>
    <h2>사업 제안</h2>
    <p>Historical과 함께 성장할 수 있는 사업 제안</p>
    <br><br>
    <p>아래 메일주소로 메일주시면 답변드리겠습니다</p>
    <p>historical@hufs.ac.kr</p>
</div>